@import '@scss/variables.scss';
.sidebar {
    position: sticky;
    top : 75px;
    right: 0;
    width: 280px;
    transition: all 0.2s ease-in-out;
    max-height: 800px;

    @media screen and (max-width: 1024px) {
       display: none;
    }
}

.scrolled {
    top: 70px;
}