@import "../../../../scss/variables.scss";

.accountPhotos {
  display: flex;
  flex-wrap: wrap;
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
  }
}

.wrapperPhoto {
  height: 40vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.countsInfo {
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: .5s;
}

.wrapperPhoto:hover .countsInfo {
  opacity: 1;
  cursor: pointer;
}

.wrapperPhoto:hover .img {
  transform: scale(1.1);
}

@media screen and (max-width: $screen-sm-max) {
  .wrapperPhoto {
    height: 25vh;
    width: 100%;
  }
}

.likeHeartIcon,
.commentIcon {
  display: block;
  background: url("../../../../assets/icons-image-size-s.png");
  background-repeat: no-repeat;
  height: 19px;
  width: 19px;
}

.likeHeartIcon {
  background-position: -320px -266px;
}

.commentIcon {
  background-position: -320px -224px;
}

.counts {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 50%;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.likeCounts,
.commentCounts {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.text {
  margin-left: 5px;
}

@media screen and (min-width: $screen-sm) {
  .likeCounts {
    margin-right: 20px;
  }
}

@media screen and (max-width: $screen-xs-max) {
  .counts {
    flex-direction: column;
    align-items: center;
  }
  .likeCounts {
    margin-bottom: 5px;
  }
}

  @media screen and (min-width: $screen-md) {
    .accountPhotos {
      margin-top: -14px;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    .accountPhotos {
      margin-top: 3px;
    }
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}