.createAccount {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    display: flex;
    margin-top: 5px;
    justify-content: center;
    border-radius: 1px;
    padding-top: 24px;
     padding-bottom: 24px;
     a {
        font-weight: bold;
         color: #3897f0;
         margin-left: 5px;
     }

    @media (max-width: 400px) {
        flex-direction: column;
        align-items: center;
        a {
            margin-top: 10px;
     }
  }

      @media (min-width: 450px) {
     border: 1px solid #e6e6e6;
    background: #fff;
  }
}