.create-account {
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin-top: 5px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding-top: 24px;
     padding-bottom: 24px;
     a {
         color: #3897f0;
         margin-left: 5px;
     }
}