.backdrop {
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.close {
    background: 0 0;
    border: 0;
    cursor: pointer;
    height: 36px;
    outline: 0;
    overflow: hidden;
    position: absolute;
    right: 16px;
    z-index: 2
}

.close::before {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    content: '\00D7';
    display: block;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    padding: 0;
    margin: 0;
}