.accountInfo {
    display: flex;
    margin-left: 50px;

    .avatarWrap {
        margin-right: 70px;
    }

    .info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
    }
}