.recomendation {
    display: flex;
    align-items: center;

    .action {
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        margin-left: 10px;

        .subscribe {
            color: #3897f0;
            font-weight: 600;
            font-size: 12px;
            cursor: pointer;
        }
    }
}