.wrapperPublication {
    width: 100%;
    display: flex;
    height: 80vh;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.publicationInfo {
    display: flex;
    flex-direction: column;
    width: 40%;
    background:#ffffff;
}

.userTitle {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  border-bottom: 1px solid #efefef;

  .user {
    display: flex;
    align-items: center;
    .username {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      color: #262626;
      font-weight: 600;
    }
  }

  .icon {
    display: block;
    background: url("../../../../../assets/icons-image-size-m.png");
    background-repeat: no-repeat;
    background-position: -340px -156px;
    height: 24px;
    width: 24px;
  }
}

.comments {
    flex-grow: 1;
    padding: 0px 20px;
}

.userActions, .comments {
  padding: 10px 20px;
}

.userRate {
  font-family: "Montserrat", sans-serif;
  padding: 0px 20px;
  .rate {
    font-size: 12px;
    color: #262626;
    font-weight: 600;
  }
}

.link {
    text-decoration: none;
    outline: none;
    &:active,  &:visited ,  &:focus  {
        text-decoration: none;
        outline: none;
        border: 0;
    }
    &:active {
       opacity: 0.7;
    }
}


.photoWrapper {
  position: relative;
   width: 60%;
}

.heartWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.animationHeart {
    display: none;
    background: url('../../../../../assets/icons-image-size-s.png');
    background-repeat: no-repeat;
    background-position: 0 -98px;
    height: 81px;
    width: 92px;
}

.liked {
    display: block;
    animation-duration: 1000ms;
    animation-name: like-heart-animation;
    animation-timing-function: ease-in-out;
    opacity: 0;
    transform: scale(0);
}

@keyframes like-heart-animation {
0%, 100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
15% {
    opacity: .9;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
30% {
    -webkit-transform: scale(.95);
    transform: scale(.95);
}
45%, 80% {
    opacity: .9;
    -webkit-transform: scale(1);
    transform: scale(1);
}
}