.loginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
.signInButton {
         padding: 5px 2px;
         margin-top: 10px;
         background: #3897f0;
         color: white;
         font-size: 12px;
         font-weight: 600;
         border: none;
         width: 265px;
         border-radius: 4px;
         &:disabled {
            opacity: .3;
         }
}

@media (min-width: 450px) {
.loginInput, .signInButton  {
        max-width: 265px;
        width: 100%;
}
}

@media (max-width: 449px) {
.loginInput, .signInButton  {
        width: 100%;
}
}

.loginInput  {
         border: 1px solid #efefef;
         width: 100%;
         background: #fafafa;
         border-radius: 2px;
         margin-bottom: 5px;
         box-sizing: border-box;
         padding: 10px 4px;
         &::placeholder {
             font-size: 11px;
         }
     }
}