@import '@scss/variables.scss';

.accountStat {
    .publications, .followers {
        margin-right: 20px;
    }

    @media screen and (min-width:$screen-md) {
        margin: 20px 0px;
    }

    @media screen and (max-width:$screen-sm-max) {
        width: 100%;
        justify-content: space-between;
        padding: 10px 0px;
        border-top: 1px solid #efefef;

         .publications, .followers, .subs {
        display: flex;
        width: 30%;
        flex-direction: column;
        align-items: center; 
    }
    }
}

   @media screen and (min-width:$screen-md) {
        .tablet {
            display: none;
        }
        .desktop {
            display: flex;
        }
    }

    @media screen and (max-width:$screen-sm-max) {
        .tablet {
            display: flex;
        }
        .desktop {
            display: none;
        }
    }