.card {
  border: 1px solid var(--gray);
  box-shadow: 0px 0px 5px 1px var(--gray);
  border-bottom: 1px solid #efefef;
  background: #fff;
  border-radius: 4px;

  .other {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
  }
}

.userTitle {
    display: flex;
    justify-content: space-between;
    padding: 16px;

    .user {
        display: flex;
        align-items: center;
        .username {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            color: #262626;
            font-weight: 600;
        }
    }
    
    .icon {
        display: block;
    background: url('../../../../../assets/icons-image-size-m.png');
    background-repeat: no-repeat;
    background-position: -340px -156px;
    height: 24px;
    width: 24px;
}
}

.userRate {
     font-family: 'Montserrat', sans-serif;
     margin: 10px 0px;
     .rate {
            font-size: 14px;
            color: #262626;
            font-weight: 600;
        }
}


.image {
  display: block;
  width: 100%;
  height: auto;
}

.description {
  text-transform: capitalize;
}

.title {
  margin: 15px 0;
}

.link {
  text-decoration: none;
}