@import '../../../scss/variables.scss';
.footer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    .infoBlock {
     display: flex;
    }
    .inst {
        font-size: 11px;
        color: #999;
        margin-top: 15px;
        font-weight: 600;
    }
}

     @media (max-width: 850px) {
         .footer {
            justify-content: center;
            align-items: center;
            max-width: 360px;
            padding-bottom: 10px;
         .infoBlock {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
         }
    }
    }

           @media (max-width: 450px) {
            .footer {
                margin-top: 40px;
            }
  }

     @media (min-width: 851px) {
        .footer {
            width: calc(100% - 40px); 
            padding: 30px 20px;
            max-width: 935px;
             .infoBlock, .inst {
            align-self: flex-start;
         }
        }
    }

    