.userActions {
  display: flex;
  justify-content: space-between;

  .mainActions {
    display: flex;
  }

  .like,
  .comments,
  .share,
  .save {
    display: block;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background: url('../../../assets/icons-image-size-m.png');
  }

  .liked {
    background-position: 0 -300px;
    animation-name: like-button-animation;
    animation-duration: .45s;
    animation-timing-function: ease-in-out;
    transform: scale(1);
  }

    .dontLiked {
       background-position: -26px -300px;
      animation-name: dont-like-button-animation;
      animation-duration: .45s;
      animation-timing-function: ease-out;
      transform: scale(1);
  }

   @keyframes like-button-animation {
    0%, 100% {
        transform: scale(1);
    }
    25% {

        transform: scale(1.2);
    }
    50% {
        transform: scale(.95);
    }
  }

  @keyframes dont-like-button-animation {
    0%, 100% {
        transform: scale(1);
    }
    25% {

        transform: scale(1.2);
    }
    50% {
        transform: scale(.95);
    }
  }

  .comments {
    margin: 0px 15px;
    background-position: -179px -200px;
  }

  .share {
    background-position: -260px -326px;
  }

  .save {
    background-position: -130px -326px;
  }
}
