.modal {
    max-width: 800px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 500;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}