@import '../../../scss/variables.scss';
.container {
  max-width: 935px;
  display: flex;
  width: 100%;   
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 935px;
    display: flex;
    width: 100%;   
    justify-content: center;
  }
}
