@import '@scss/variables.scss';

.profilePhoto {
    width: 33.33%;
    &:nth-child(-n+3) {
        padding-top: 0px;
    }
     @media screen and (min-width:$screen-md) {
         padding: 14px;
    }

    @media screen and (max-width:$screen-sm-max) {
         padding: 3px;
    }
}

.profileMain {
}
