@import "@scss/variables.scss";

.profilePhoto {
  position: relative;
  width: 33.33%;
  @media screen and (min-width: $screen-md) {
    padding: 14px;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding: 3px;
  }
}


.fullPublication {
  height: 100%;
}