.userComment {
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
    font-size: 13px;
        .link {
            margin-right: 5px;
            color: #262626;
            font-weight: 600; 
            text-decoration: none;
            outline: none;
            &:active,  &:visited ,  &:focus  {
                text-decoration: none;
                outline: none;
                border: 0;
            }
            &:active {
            opacity: 0.7;
            }
}
}
