.instagramLogo {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    .instagramIcon {
        display: block;
        // background: url('../../../../assets/icons-image-size-m.png');
        background-repeat: no-repeat;
        background-position: -74px -231px;
        height: 24px;
        width: 24px;
    }
}

    .scrolled {
        opacity: 0;
        transform: scaleY(0);
    }
    
    .elements {
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in;
    }

@media screen and (max-width: 340px) {
    .elements {
        display: none;
    }
}