.installAppWrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .installImg {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        img {
            width: 48%;
            cursor: pointer;
        }
    }
}