@import '@scss/variables.scss';
.settings {
          display: flex;
    .settingsIcon {
        display: block;
        background: url('../../../../assets/icons-image-size-m.png');
        background-repeat: no-repeat;
        background-position: -234px -326px;
        height: 24px;
        width: 24px;
    }
        .editItems {
        display: flex;
    }

     @media screen and (min-width:$screen-md) {
        align-items: center;
    }

    @media screen and (max-width:$screen-sm-max) {
        flex-direction: column;
        .editItems {
            margin: 20px 0px;
        }
    }
}

.editProfile {
    background-color: transparent;
    border: 1px solid #dbdbdb;
    color: #262626;
    width: 174px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;

     @media screen and (min-width:$screen-md) {
           margin: 0px 15px;
    }

     @media screen and (max-width:$screen-sm-max) {
       margin-right: 15px;
    }
}

.text {
        display: flex;
        align-items: center;
 
      @media screen and (max-width:420px) {
          justify-content: center;
            margin-top: 15px;
    }
}

.adminIcon {
    display: block;
    background: url("../../../../assets/icons-image-size-s.png");
    background-position: -383px -238px;
    height: 18px;
    width: 18px;
}

.admin {
    margin-left: 10px;
}