@import '../../../scss/variables.scss';

.profilePage {
    background:hsl(0, 0%, 98%);
    display: flex;
    justify-content: center;
    .inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            min-height: 100vh;
            width: 100%;
            max-width: 1350px;
    
    .main {
        max-width: 935px;
        display: flex;
        flex-direction: column;
        width: calc(100% - 40px);
          @media screen and (min-width:$screen-sm) {
                padding: 60px 20px 0;
          }  

           @media screen and (max-width:$screen-xs-max) {
                padding: 20px;
          }  
    }
}
}