.profileInfo {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;

    .nicknames {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }
}

.authUser {
    font-size: 13px;
    color: #262626;
    font-weight: 600;
    margin-bottom: 6px;
}

