.wrapperPublication {
    max-width: 800px;
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}

.img {
    width: 100%;
}

.wrapperPhoto {
    width: 60%;
}

.publicationInfo {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-grow: 1;
    background:#ffffff;
}

.userTitle {
  display: flex;
  justify-content: space-between;

  .user {
    display: flex;
    align-items: center;
    .username {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      color: #262626;
      font-weight: 600;
    }
  }

  .icon {
    display: block;
    background: url("../../assets/icons-image-size-m.png");
    background-repeat: no-repeat;
    background-position: -340px -156px;
    height: 24px;
    width: 24px;
  }
}

.comments {
    flex-grow: 1;
}

.userRate {
  font-family: "Montserrat", sans-serif;
  margin: 10px 0px;
  .rate {
    font-size: 12px;
    color: #262626;
    font-weight: 600;
  }
}

.link {
    text-decoration: none;
    outline: none;
    &:active,  &:visited ,  &:focus  {
        text-decoration: none;
        outline: none;
        border: 0;
    }
    &:active {
       opacity: 0.7;
    }
}
