.homepage {
  .inner {
    width: 70%; 
    margin: 0 auto;    
    .main-content {
      display: flex;
      height: 100vh;

       .iphone-img, .login-section {
        flex-basis: 50%;
      }
    }

  }

}