.loginPage {
      background: #efefef;
      width: 40%;
}

.header {
    background-color: #262626;
    height: 28px;
    margin: 0 16px;
}

.vertical {
     width: 1px;
}

.horizontal {
     height: 1px;
}