.userComment {
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
    font-size: 14px;
        .username {
            margin-right: 10px;
            color: #262626;
            font-weight: 600;
        }
}
