.userComment {
    margin-top: 4px;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
    font-size: 13px;
        .username {
            margin-right: 5px;
            color: #262626;
            font-weight: 600;
        }
}
